<html>
<head>
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>
<script>
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        if (response.status === 'connected') {
            testAPI();
        } else {
            console.log("don't connected");
        }
    }

    function getInfoUser(res) {
        FB.api(
            "/" + res.authResponse.userID + "/picture",
            "get", {access_token : res.authResponse.accessToken, fields: 'paging'},
            function(response){
                console.log('photo');
                console.log(response);
            }
        );
        FB.api(
        "/" + res.authResponse.userID,
        "get", {access_token : res.authResponse.accessToken, fields: ['first_name', 'last_name', 'timezone', 'updated_time', 'birthday']},
        function(response){
                console.log('user');
                console.log(response);
            }
    );
    }

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            if (response.status == 'connected') {
                console.log(response);
                FB.api('/me', function (res) {
                    console.log(res);
                    console.log('me');
                    getInfoUser(response)
                });
                return 0;
            }
            else
                statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1718299048473969',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(res) {
        console.log(res);
    }

</script>
<div onlogin="checkLoginState()" class="fb-login-button" data-max-rows="1" data-size="medium"
     data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true"
     data-use-continue-as="true"></div>
</body>
</html>