<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

</body>
=======
<html>
    <head></head>
    <body>
        <h1>Welcome <%= name %></h1>
    </body>
>>>>>>> 1127a8925fdacad77f598ee70d3df9d21bed97ee
</html>